.cardsContainer {
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.cardsContainer > * {
    margin: 20px;
}

.loading, .error {
  text-align: center;
  font-size: 40px;
  margin: 20px;
}

.error {
  text-decoration: underline;
  color: darkred;
}